:root
{
    --default-border-radius: 6px;
    --default-vertical-padding: 6px;
}

html,
body
{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-weight: 100;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 800px;
    max-height: 600px;

    /* height: 100%; */
    /* height: 556px; */
    width: 100%;
    /* width: 260px; */
}

.popup-container
{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* width: 260px; */
    height: 100%;
}

.grid-container
{
    display: grid;
    gap: var(--default-vertical-padding);
    width: 100%;
    padding: var(--default-vertical-padding) 28px var(--default-vertical-padding) 28px;
}

.grid-container>div
{
    margin: 0 var(--default-vertical-padding) 0 var(--default-vertical-padding);
}

.location-container
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.location-name
{
    color: #374151;
    font-weight: bold;
    display: inline;
    text-decoration: underline;
}

.location-name:hover
{
    cursor: pointer;
    filter: brightness(1.9);
}

.prayer
{
    background-color: #f3f4f6;
    border-radius: var(--default-border-radius);
    padding: var(--default-vertical-padding) 60px var(--default-vertical-padding) 60px;
    text-align: center;
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Sun time can't shown as prayed */
.prayer:nth-of-type(6)
{
    pointer-events: none;
}

.prayer>div
{
    flex: 1;
}

.prayer>div>span
{
    display: block;
    /* TODO: make this optional */
}

.time-adjust
{
    font-weight: bold;
}

.prayer-name
{
    color: #374151;
    font-weight: bold;
}

.prayer-time
{
    color: #6b7280;
}

#current-prayer
{
    /* background-color: #baffde; */
    /* background-color: #ffbaba; */
    /* background-color: #baebff; */

    transition: background-color .2s, filter .2s;
}

#current-prayer.prayed
{
    background-color: #baffde;
}

#current-prayer:hover
{
    cursor: pointer;
    filter: brightness(.9);
}

.custom-select
{
    display: flex;
    justify-content: center;
}

.custom-select select
{
    background-color: #f3f4f6;
    color: #374151;
    width: 100%;
    text-align: center;
    padding: var(--default-vertical-padding);
    font-size: xx-small;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

.custom-select select:focus
{
    outline: none;
    box-shadow: none;
}

.location-results
{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none;
    text-align: center;
    margin: 0 8px 0 8px;
    border-radius: var(--default-border-radius);
    color: #6b7280;
}

.location-results div
{
    padding: var(--default-vertical-padding);
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.location-results div:last-child
{
    border-bottom: none;
}

.method-select
{
    text-align: center;
    padding: var(--default-vertical-padding) 4px var(--default-vertical-padding) 4px;
    font-size: x-small;
    background-color: #f3f4f6;
    border-radius: var(--default-border-radius);
}

.method-select:hover
{
    cursor: pointer;
    filter: brightness(.9);
}

.method-options
{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none;
    text-align: center;
    border-radius: var(--default-border-radius);
    color: #6b7280;
    font-size: x-small;
    width: 100%;
    top: 100%;
}

.method-options>div
{
    padding: var(--default-vertical-padding);
    border-bottom: 1px solid #eee;
}

.method-options>div:last-child
{
    border-bottom: none;
}

.method-options>div:hover
{
    cursor: pointer;
    background-color: #f3f4f6;
}

.method-container
{
    position: relative;
    /* anchor point for absolute children */
    display: grid;
    text-align: center;
    gap: 4px;
    /* display: inline-block; */
    /* keeps it tight around button */
}

.method-label
{
    font-size: small;
    color: #374151;
}