:root
{
    --popup-width: 300px;
}

html,
body
{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-weight: 100;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Let body size based on content */
    /* width: var(--popup-width); */
    height: 100%;
}

.container
{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* min-width: 100vw; */
}

.prayer-times
{
    display: grid;
    gap: 8px;
    padding: 8px 0px 8px 0px;
}

.prayer
{
    background-color: #f3f4f6;
    border-radius: 6px;
    margin: 0px 8px 0px 8px;
    padding: 16px 64px 16px 64px;
    text-align: center;
}

.prayer span
{
    display: block;
    /* padding: 2px 32px 2px 32px; */
}

.prayer-name
{
    color: #374151;
    font-weight: bold;
}

.prayer-time
{
    color: #6b7280;
}

#current-prayer
{
    background-color: #baffde;
}

#current-prayer:hover
{
    cursor: pointer;
    filter: brightness(0.9);
}